<!DOCTYPE html>
<html lang="ja">
<head>

  <!-- <script language="javascript" src="js/umbrella.min.js"></script> -->
  <!--<script src="https://cdn.jsdelivr.net/npm/umbrellajs"></script> -->
  <script language="javascript" src="js/jquery-3.3.1.min.js"></script>
  <script type="text/javascript">
  
/*jQueryの書式 WordPress風
  jQuery(document).ready(function(){
 //jQueryで実行する内容
 });*/
 $("#sample").css("color","#d9534f");

 function submitbtn() {
    // 「OK」ボタン押下時
    if (confirm('実行しますか？')) {
        alert('OK');
    }
    // 「キャンセル」ボタン押下時
    else {
        alert('キャンセル');
    }
}
  
  </script>

<link rel="stylesheet" href="css/hamada.css">
<!--<link rel="stylesheet" href="css/normalize.css">-->
<!--<link rel="stylesheet" href="css/skeleton.css">-->
<a href="/test"><img src="images/animal.gif" alt="New Pet System" class="example1"></a>

</head>
<body>

  <!--<button class="button" type="submit" id = "button">Button</button> -->
  <button class="button" onclick="location.href='./test_new'">新規作成</button>
  <button class="button" onclick="location.href='./test_delete'">データベース削除</button>
  
  

   <p>test_new.erbから送信されてきた情報です</p>
  
 <table border="1">
        <thead >
            <tr>
                <th>ID</th>
                <th>飼い主名</th>
                <th>フリガナ</th>
                <th>ペット名</th>
                <th>種別</th>            
            </tr>
        </thead>
            <tbody>
                <% @clients.each do |client| %>
                    <tr>
                        <td><%= client.id %></td>
                        <td><%= client.owner_name %></td>
                        <td><%= client.phonetic_name %></td>
                        <td><%= client.pet_name %></td>
                        <td><%= client.pet_type %></td>
                    </tr>
                <% end %>
            </tbody>
    </table>

  

</body>
</html>
